<p id="notice"><%= notice %></p>

<h1>Bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Name</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= bookmark.type %></td>
        <% if bookmark.instance_of? Folder %>
          <td><%= link_to bookmark.name, bookmarks_path(parent_id: bookmark.id) %><td>
        <% else %>
          <td><%= bookmark.name %></td>
        <% end %>
        <td><%= bookmark.url %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folder', new_bookmark_path(type: :folder, parent_id: (@parent&.id || nil)) %>
<%= link_to 'New Page', new_bookmark_path(type: :page, parent_id: (@parent&.id || nil)) %>
